<div class="ui segment">
  <div class="ui menu">
    <div class="header item">
      {{#link-to "index"}}Car-Ry App{{/link-to}}
    </div>
    {{#link-to "adverts" class="item"}}Car Adverts{{/link-to}}
    {{#link-to "new" class="item"}}New Advert{{/link-to}}
  </div>
</div>
{{outlet}}